/* ==================================================================
Typography
================================================================== */

.text-primary {
	color: #01a0c7;
}

a {
	color: #01a0c7;
}

a:focus {
	color: #01a0c7;
	outline: 0 none;
}

/* ==================================================================
	Forms
================================================================== */

.form-control:focus {
	border-color: #01a0c7;
}

/* ==================================================================
	Button
================================================================== */

.btn {
	background-color: #01a0c7;
}

/* ==================================================================
	Section
================================================================== */

/*	Section Services
-------------------------------------------------------------- */

.service_icon {
	color: #01a0c7;
}

/*	Section About
-------------------------------------------------------------- */

.about_icon {
	color: #01a0c7;
}

/*	Section Social
-------------------------------------------------------------- */

.social_icon {
	background-color: rgba(1, 160, 199, .3);
}

.social_item a:hover .social_icon {
	background-color: #01a0c7;
}

/* ==================================================================
	Footer
================================================================== */

.social-mini a:hover {
	color: #01a0c7;
}
